.dropdown {
	float: left;
	display: inline;
}
.dropdown:not(:first-child) {
	margin-left: 5px;
}
.dropdown-item-button {
	width: 100px;
}
.card-title {
	text-align: left;
	font-size: large;
	font-weight: 800px;
}
.card-header {
	display: inline-flex;
	padding: none;
}
.cards {
	display: flex;
}
.bi {
	margin-top: 50px;
	align-self: center;
}

.content-dronecatalog {
	color: #1a3447;
	text-align: left;
	font-size: 12px;
	line-height: 6px;
	letter-spacing: 0em;
	text-align: left;
}

.dropdown .btn {
	font-size: 15px;
	min-width: 50px;
	padding: 8px 8px !important;
}
/* .heading-dronecatalog {
	margin-top: 20px;
} */
.drone-catalog .card-header {
	background: none;
	border: none;
}
.drone-catalog .card.add-new {
	padding: 10px;
}
.drone-catalog .btn.btn-edit {
	padding: 4px 5px;
	background-color: #0070ba;
	font-size: 9px;
	float: right;
	border-radius: 10px;
	width: 50px;
}
