.dropdown {
	float: left;
	display: inline;
}
.dropdown:not(:first-child) {
	margin-left: 5px;
}
.dropdown-item-button {
	width: 100px;
}
.card-title {
	text-align: left;
}
.card-header {
	display: inline-flex;
}
.cards {
	display: flex;
}
.bi {
	margin-top: 50px;
	align-self: center;
}
.dropdown .btn {
	font-size: 15px;
	min-width: 120px;
	padding: 8px 18px !important;
}
.heading-dronecatalog {
	margin-top: 20px;
}
.drone-catalog .card-header {
	background: none;
    border: none;
}
.drone-catalog .card.add-new {
	padding: 10px;
}
.drone-catalog .btn.btn-edit {
	padding: 4px 12px;
	background-color: #0070BA;
	font-size: 13px;
	float: right;
	border-radius: 10px;
}