.dropdown {
	float: left;
	display: inline;
	margin-top: 5px;
	margin-left: 5px;
}
.dropdown-item-button {
	width: 100px;
}
.card-title {
	text-align: left;
	font-size: large;
	font-weight: 800px;
}
.card-header {
	display: inline-flex;
}
.cards {
	display: flex;
}
.bi {
	margin-top: 50px;
	align-self: center;
}
.content-dronecatalog {
	color: #1a3447;
	text-align: left;
	font-size: 12px;
	line-height: 6px;
	letter-spacing: 0em;
	text-align: left;
}
