.center-contents {
	width: 50%;
	padding: 0px 20px;
}

.nav-buttons {
	font-size: 13px;
	line-height: 1.4;
	min-height: 36px;
	min-width: 36px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.nav-buttons:hover {
	background-color: #dedede;
	cursor: pointer;
}

/*.nav-buttons:not(:first-child) {
  margin: 0px 10px;
}*/

.main-frame {
	margin: 10px 0px;
	display: flex;
	flex-wrap: wrap;
}

.pull-down {
	margin-top: 10px;
}

.button_panel {
	float: right;
}

.card-btn {
	transition: all 0.3s ease 0s;
}

.card-title {
	max-width: 80%;
}

.card-btn:hover {
	color: #fff;
	cursor: pointer;
	transform: translateY(-2px);
}

.card-btn:not(:first-child) {
	margin-left: 10px;
}

.login-form {
	left: 65%;
	top: 35%;
	margin-left: -25%;
	position: absolute;
	/*margin-top: 25%;*/
}

.login-panel > .btn {
	float: right;
	position: absolute;
	left: 40%;
	margin-top: 10px;
}

.product-card {
	border: none !important;
}

.product-card:hover {
	/*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
	box-shadow: 0 2px 18px rgb(34 34 34 / 20%);
	background: #ffffff;
	border: 1px dotted transparent;
	transform: scale(0.96);
	transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42),
		opacity 150ms ease-out, border-color 200ms ease-out;
}

.edit_icon {
	margin-left: 5px;
	color: #0070ba;
	cursor: pointer;
}

.btn_panel {
	margin-top: 10px;
	float: right;
}

.btn_panel > .btn:not(:first-child) {
	margin-left: 10px;
}

.page-footer {
	background-color: #f1f1f1;
	/*position: fixed;*/
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 70px;
	line-height: 37px; /* Vertically center the text there */
	background-color: #f5f5f5;
}

.custom_toast {
	position: absolute;
	right: 5px;
	z-index: 10;
	bottom: 10px;
}

.pull-right {
	float: right;
}

.form_label {
	font-weight: bold;
}

.user_details {
	margin-top: 30px;
	text-align: left;
}

.fill-page {
	min-height: 50vw;
	margin-bottom: -50px;
	margin-bottom: 70px;
}

.currency_btn {
	color: #0070ba;
	cursor: pointer;
}

.link_item {
	cursor: pointer;
	text-decoration: underline;
	color: #0070ba;
}

.gift_item {
	color: #0070ba;
	font-size: 12px;
	cursor: pointer;
	display: inline;
}

.gift_item > .icon {
	margin-top: -10px;
	font-size: 20px;
	margin-left: 5px;
}

.gift_item > .ic_buttons {
	font-size: 25px;
	color: #80b34b;
}

.gift_item > .ic_buttons:not(:last-child) {
	margin-right: 10px;
}

.gift_item > .ic_buttons:hover {
	color: #6fac30;
}

.purchases.gift_item {
	display: block;
	margin-top: 5px;
}

.delete_item {
	cursor: pointer;
	color: #d00000;
	font-size: 12px;
}

.delete_item:hover {
	text-decoration: underline;
}

.pagination {
	margin-top: 10px;
	left: 43%;
	position: absolute;
}

.pagn_limit {
	margin: 0;
}

/* DC Styles */
.dc-default.navbar {
	background-color: #1a3447;
	color: #ffffff;
	height: 80px;
}

.dc-default a {
	color: #ffffff;
}

.dc-default a:hover {
	color: #dedede;
}
/*
.dc-default.navbar > .container {
  margin-top: 10px;
}*/

.dc-default .btn.btn-light {
	background-color: transparent;
	border: none;
	color: #ffffff;
	font-size: 18px;
}

.dc-default .btn.btn-light:hover {
	color: #dedede;
}

.dc-default .btn.btn-primary {

	/* background-color: #1a3447;
	padding: 8px 12px; */

	background-color: #1a3447;
	border-color: #1a3447;
	margin: 20px;

}

.dc-default .btn.btn-secondary {
	background-color: #b9b9c3;
	border-color: #b9b9c3;

	margin: 20px;

}

.dc-default .btn {
	padding: 12px 24px;
}

.dc-login .btn {
	width: 100%;
}

.dc-login .form-group {
	margin-top: 10px;
}

.dc-default.dc-admin-nav {
	width: 100%;
}

.dc-default > .nav-item {
	text-align: center;
}

.dc-default > .nav-item > a {
	color: #1a3447;
	text-align: left;
	height: 50px;
	padding: 12px 16px;
	border-radius: 8px;
}

.dc-default > .nav-item:not(:last-child) {
	margin-bottom: 10px;
}

.dc-default > .nav-item > a:hover {
	background-color: #dedede;
}

.dc-default > .nav-item > a.active {
	background-color: #1a3447;
	color: #ffffff;
}

.dc-default .right-contents {
	display: flex;
	justify-content: end;
}

.dc-default.dc-leftpane,
.dc-default.dc-admin-leftpane {
	margin-top: -13px;
	padding-right: 25px;
	border-right: 1px solid transparent;
	box-shadow: 4px 6px 6px 0px rgb(64 60 67 / 5%);
}

.dc-default.dc-admin-leftpane {
	margin-top: -5px;
}

.dc-default.dc-leftpane > .title {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 30px;
}
/*.dc-default.content_panel {
  background-color: #fbfdfe;
}*/

.header-dronecatalog {
	color: #1a3447;

	font-size: 36px;
	font-weight: 600;
	line-height: 44px;
	letter-spacing: 0em;
	text-align: left;
	height: 41px;
	width: 1007px;
	left: 358px;
	top: 282px;
	border-radius: nullpx;
}
.heading-dronecatalog {
	text-align: left;
	font-size: 16px;
	color: #4a5e6d;
	font-family: Inter;

	font-weight: 300;
		line-height: 6px;
		letter-spacing: 0em;
		text-align: left;
}
.rectangle {
	height: 71px;
	width: 500px;

	border-radius: 10px;
	background-color: #2c556d;
}
.div1-drone-catalog {
	height: fit-content;
	width: fit-content;
}

.dc-default .drones_list {
	width: inherit;
	display: inline-block;
	height: 120px;
	white-space: nowrap;
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.dc-default .drones_list::-webkit-scrollbar {
	display: none;
}

.dc-default .drones_list > .card {
	display: inline-block;
	border-color: #6848eb;
	border-width: 1.5px;
	font-size: 12px;
}

.dc-default .drones_list > .card .card-title {
	font-size: 15px;
}

.dc-default .drones_list > .card .card-subtitle {
	font-size: 13px;
}

.dc-default .drones_list > .card.selected {
	background-color: #f4f2fd;
}

.dc-default .drones_list > .card.selected:hover {
	cursor: default;
}

.dc-default .drones_list > .card:not(.selected):hover {
	cursor: pointer;
	background-color: #f1f1f1;
}

.dc-default .drones_list > .card:not(:first-child) {
	margin-left: 10px;
}

.dc-default .drones_list > .card .badge {
	padding: 0.55em 0.55em;
}

.dc-default .drones_list > .card .badge.bg-primary {
	background-color: #cbc4f0 !important;
	color: #5932ea;
	border: 1px solid #5932ea;
}

.dc-default .map-container {
	margin-top: 10px;
	height: 450px;
}

.dc-default .marker {
	border-radius: 50%;
	width: 10px;
	height: 10px;
}

.dc-default .marker.registered {
	background: #917ff4;
	border: 1px solid #5932ea;
}

.dc-default .marker.active {
	background: #4bc475;
	border: 1px solid #269e00;
}

.dc-default .marker.stopped {
	background: rgb(220, 53, 69);
	border: 1px solid rgb(220, 53, 69);
}

.dc-default .marker.connected {
	background: rgb(255, 193, 7);
	border: 1px solid rgb(255, 193, 7);
}

.dc-default .drone_details {
	margin-top: 20px;
}


.dc-default .drone_details .drone_chars > p.title {
	margin-bottom: 5px;
	font-weight: bold;
}

.dc-default .drone_details .drone_chars > p {
	margin: 0;
}

.dc-default .drone_details .drone_chars {
	margin-bottom: 10px;
}
